<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>融贝测试相关任务</title>
   <script>
          function to(){
            var  getval =document.getElementById("pool_id").value;
            var  getva2 =document.getElementById("invest_id").value;
            document.location=("http://rongbeiadmin.51dmoz.com/StandardRediliveryFinacial/scanActiveStandardIntoRecast?pool_id="+getval+"&invest_id="+getva2);
            window.open(document.location)

          }
          function jump1(){
            window.location.href="https://fir.im/cg9h";
            window.open(window.location.href)
            }
          function jump2(){
              window.location.href="https://fir.im/s4g1";
              window.open(window.location.href)
            }
   </script>


</head>
<body>


<h1>融贝测试相关任务</h1>
<div> <input type="submit" name="ButtonAibang" value="测试安卓地址" id="Button1" class="join-btn" onclick="jump1()"></div>
<div> <input type="submit" name="ButtonBaidu" value="测试ios地址" id="Button2" class="join-btn" onclick="jump2()"></div>
<a href="http://rongbeiadmin.51dmoz.com/WeekRiseApi/repaymentTask" target="_blank">生成回款计划</a><br>

<a href="#" target="_blank">小标复投到省心投</a><p>pool_id<input type="text" id="pool_id" name="fname" /></p>
<p>invest_id<input type="text" id="invest_id" name="fname" /></p> <input type="button"  value="提交"  onclick="to()"  >
<br>
<a href="http://irongbei20180911.irongbei.com/WeekRiseApi/repaymentTask" target="_blank">还款提前2天通知</a><br>
<a href="https://www.51laibei.com/u/jsq" target="_blank">等额本息计算器</a><br>
<a href="http://zentao.irongbei.com/zentao/user-login-L3plbnRhby9idWctdmlldy00MTAxLmh0bWw=.html" target="_blank">禅道地址</a>





</body>
</html>